@layer theme, base, mui, components, utilities;
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: grab;
  background: var(--color-gray-700);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-600);
}